section:not(:nth-child(1)) {
  max-width: 1000px;
  padding: 40px;
  background: #fff;
  margin: auto;
}

.heading {
  text-align: start;
  margin-bottom: 20px;
}
.heading > h3 {
  font-size: 20px;
  color: #333;
}
