.roomCards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: fit-content;
  margin: auto;
}

.roomCard {
  height: fit-content;
  padding: 0;
  border: 1px solid #ddd;
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.roomCard img {
  width: 100%;
  height: 200px;
}
.roomCard p {
  color: gray;
  font-size: 14px;
}
.roomDetails {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.roomCard .btn {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roomDetails .btn > button {
  width: 50%;
  border: none;
  padding: 7px 10px;
  border-radius: 15px;
  font-size: 13px;
  cursor: pointer;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}
.roomDetails .btn > button:hover {
  background-color: black;
  color: wheat;
}

.rating {
  background-color: black;
  border-radius: 4px;
  color: gold;
  padding: 2px 5px;
}

.oldPrice {
  color: red;
  font-weight: 700;
  margin-right: 8px;
}

.currentPrice {
  color: green;
  font-weight: 700;
}

@media screen and (min-width: 690px) and (max-width: 1012px) {
  .roomCards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 690px) {
  .roomCards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
