footer {
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  color: whitesmoke;
  gap: 10px;
  padding: 40px 10px;
}
footer > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerlogo > .logo {
  color: goldenrod;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
footer > div > h3 {
  font-size: 14px;
}
footer > div > p {
  font-size: 12px;
}
footer > div:nth-child(2),
footer > div:nth-child(3) {
  width: fit-content;
}
footer ul > li {
  list-style: none;
}
footer ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
.footerlogo {
  max-width: 35%;
}
.footerform > form > input {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 4px;
  border-radius: 50px;
  border: 2px solid white;
}
.footerform > form > input[type="submit"] {
  background-color: transparent;
  color: white;
}
.footerform > form > input[type="submit"]:hover {
  background-color: white;
  color: goldenrod;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer > div {
    width: 100%;
  }

  .footerlogo {
    max-width: 100%;
  }
}
